body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a1223;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #54597d;
}

.container {
    padding: 20px;
}

.fact {
    background-color: #fff;
    color: #484747;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
}

.fact h2 {
    color: #0a1223;
}

/* SMALL */
@media (max-width: 767px) {
    body {
        background-color: #0a1223;
    }
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 700px;
        margin: auto;
    }
}

/* LARGE */
@media (min-width: 1024px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }
}

img {
    width: 400px;
}
